/* MAIN LAYOUT */
body {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 48px 64px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;

  /* background-color: red; */
}

header .general-information {
  /* background-color: red; */
  margin-left: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  height: 280px;
  width: 280px;
  border-radius: 30%;
}

h2 {
  margin-bottom: 10px;
  font-size: "Jersey 25", sans-serif;

  color: #9ca3af;
}

@media (max-width: 630px) {
  body {
    padding: 0px;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  header .general-information {
    margin-left: 0px;
  }

  h2 {
    margin-left: 0px;
  }

  img {
    height: 180px;
    width: 180px;
  }
}

ul {
  padding-left: 0;
  margin-bottom: 10px;
}

.date {
  float: right;
  list-style: none;
}

li {
  list-style: none;
  line-height: 2;
}

.white-bullet {
  list-style: circle;
  margin-bottom: 3px;
  margin-left: 40px;
}

hr {
  border-color: aquamarine;
}

h1 {
  color: #9ca3af;
  font-size: "Jersey 25", sans-serif;
}

footer {
  margin-top: 20px;

  display: flex;
  align-items: center;
  gap: 18px;
}

.icons {
  width: 60px;
  height: 60px;
}
